.clear { clear:both; }

.TypesNavContainer{

}

.TypesNavSubContainer{

}
.TypeNav{
    float: left;
    padding: 10px;
    cursor: pointer
}
.TypeSubNav{
    float: left;
    padding: 10px;
    cursor: pointer
}